<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El tiempo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div id="container">
        <div class="hora">

            <div class="time">
                <h1>Tiempo</h1>
                <h2>{{time}}</h2>
            </div>
        </div>
    
        <div class="hora_local">
            <div class="time 2">
                <h1>Tiempo local</h1>
                <h2>{{date}}</h2>
                <h2>{{time2}}</h2>
            </div>
        </div>
    </div>
   
</body>
</html>